.dataTables_wrapper .dt-buttons {
  float:none;
  text-align:right;
}

#expand-button {
  background-color: #e3e3e3;
  width: 100%
}

.multicol-7 {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  width: 1700px;
  padding: 20px;
  -webkit-column-count: 10; /* Chrome, Safari, Opera */
  -moz-column-count: 10;    /* Firefox */
  column-count: 10;
  column-width: auto;
  -moz-column-fill: auto;
  -column-fill: auto;
}
