 /* Make the dynamic dashboard scrollable */
                      
/*#shiny-tab-benchmark > div:nth-child(4) > div{
  max-height: 600px;
  overflow-y: auto;
}*/
  
.shiny-notification{
  position:fixed;
  top: calc(80%);
  left: calc(40%);
}
  
.shiny-html-output.shiny-bound-output{
  text-align: justify;
}
  
/* Changed the background of the load and save input buttons a shade of red */
.load_save_btns .bttn-primary{
  background-color: #e94152;
}

/* Changed the background of the selected country or countries to a shade of blue */
.dropdown-item.active, 
.dropdown-item:active,
.dropdown-item.opt.selected{
  background-color: #007bff6b;
}
 
.far.fa-square-check{
  background-color: #e94152e8;
  color: white;
} 

#save_inputs{
  background-color: #e94152;
  color: white;
  border-radius: 20px;
}
 
#download_data_1{
  background-color: #3326da;
  color: white;
}

#countries .btn {
  font-size: 10px; 
  padding: 2px; 
  margin: 0.5px;
}